.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    width: 610px;
    margin: 0 auto;
    gap: 0.25rem;
}

button {
    font-size: 1.5rem;
    margin-top: 2rem;
    padding: 0.5rem 1.25rem;
    border-radius: 0.25rem;
    border: none;
    cursor: pointer;
    text-transform: capitalize;
    color: rgb(66, 65, 65);

    &:hover {
        background-color: rgb(240, 36, 36);
        color: rgb(233, 233, 233);
    }

    &:active {
        border: none;
    }
}

// .shuffling-text {
//     color: rgb(235, 235, 235);
//     font-size: 1rem;
//     opacity: 1;
//     animation: fade 1s ease-in-out infinite;
// }

// @-webkit-keyframes fade {
//     0%, 100% {opacity: 0}
//     50%{opacity: 1}
// }
// @-moz-keyframes fade {
//     0%, 100% {opacity: 0}
//     50%{opacity: 1}
// }
// @keyframes fade {
//     0%, 100% {opacity: 0}
//     50%{opacity: 1}
// }




/* Small devices (768px and below) */
@media only screen and (max-width: 768px) {
    .cards {
        width: 100%;
    }
}